.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;

  .video {
    width: 750px;
    margin: 0 auto;
  }

  .interestParagraph {
    max-width: 60ch;
  }
}

@media (max-width: 800px) {
  .container {
    .video {
      width: 600px;
    }
  }
}
